*:not(.plyr) {
    color: white;
    user-select: none;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-image: url(https://source.unsplash.com/daily?water);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 1.5rem;
}

span[contenteditable] {
    cursor: text;
    caret-color: white;
}

.plyr {
    height: max-content;
}

.notice {
    font-size: 1.2rem;
    position: absolute;
    left: .5rem;
    top: .5rem;
    text-shadow: 0 0 5px black; 
}
